.mainApp {
   background-image: url('./assets/bg-page.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

@media (max-width: 768px) {
    .mainApp {
        background-attachment: scroll;
    }
}